numpy
matplotlib
ruamel.yaml
tqdm
wandb
imageio
seaborn

# Install also (see `install.md`):
#   1. Our fork of the htm.core
#   2. [Optional] CoppeliaSim + PyRep
#   3. [Optional] AnimalAI
#   4. [Optional] dev packages:
#       jupyterlab
#       pygame
